header{
    background-color: #b6e9e9;
    color: aliceblue;
    box-shadow: 5px 5px 10px black;

}
header ul{
display: flex;
text-align: center;
padding: 1;
margin:10px 10px 10px;
list-style: none;
gap: 20px;
}
header ul :hover{
background-color: aquamarine;

}
body{
background-color: rgb(224, 255, 245);

}
.TituloBodyh1{
padding-left: 42%;
padding-top: 50px;
color: black;

}
.TextoBodyh3{
padding-inline: 15cap;  
color: rgb(64, 61, 65);  
}

table{
    margin-top: 15px;
    margin-left: 35%;
    padding-top: 15px;
    background-color: #b6e9e9;
box-shadow: 5px 5px 10px black;
}
